# Byte-compiled files
*__pycache__/

# IDE Settings
.idea/

# Virtual environment
venv/

# Personal notes file
Notes.txt

# Poetry
poetry.lock

# Jupyter notebook checkpoints
*.ipynb_checkpoints/

# Jupyter testing notebook
testing.ipynb

# Chromedriver
chromedriver.exe